<h1><%= @rat.name %></h1>
<img src="<%= @rat.image_url %>" alt="<%= @rat.name %>" style="max-width: 400px;">
<p>
  Size: <%= @rat.size %>
</p>
<p>
  Weight: <%= @rat.weight %>
</p>
<p>
  Tail Length: <%= @rat.tail_length %>
</p>